{% extends "base.html" %}

{% block content %}

<div class="cottage-container">
  <img class="cottage-img" src="static/images/cottage.jpg" alt="cottage">
</div>

<!-- <div class="welcome">
  <h1>Veronique Sellies Home</h1>
  <p>
    Welcome to my website, a website developed by my favourite son!
    <em>Lionel Pengilley</em>!
  </p>
</div> -->

{% for event in page_obj %}
  <div class="events">
    <h2>{{event.title}}</h2>
    <p>{{event.date}}</p>
    <p>{{event.body}}</p>
    {% with event.blogimage_set.all as images %}
      {% if images %}
        <div class="image-gallery">
          {% for image in images %}
            <img src="{{ image.image.url }}" alt="{{ event.title }} Image">
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>




{% endblock %}
